.summary {
    background: #fafafa;
    border-radius: 10px;
    padding: 40px;
}
.summary-detail {
    &__header {
        border-bottom: 1px solid #e8e8e8;
        padding: 20px 0;
        text-align: center;
    }
    &__header-title {
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
    }
    &__header-price {
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    &__subtitle {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    &__card {
        border-bottom: 1px solid #e8e8e8;
        padding: 20px 0;
    }
    &__row-item {
        display: flex;
        justify-content: space-between;
    }
}
